%div#mosaic-container
  %div#header
    %h1 #Occupy
    %h1{:style=>"color:#fc3"}Mosaic
  %div#mosaic.campaigns
    - @campaigns.each do |campaign|
      %div.campaign
        %div.photo
          %a{:href=>campaign.slug}
            %img{:src=>campaign.cover_image}
        %div.name
          %a{:href=>campaign.slug} 
            = campaign.name
        %div.description
          = campaign.description
  