%div#campaign
  %h1 
    =@campaign.name
  %div#left
    %h1 Edit Information
    %form{:action => '/campaigns/create', :method => 'post'}
      %div
        %label
          Name
        %input{:type => 'text', :name => 'name', :value => @campaign.name }
      - if (@terms.size <1)
        %div
          %label
            Search Terms (comma separated, with hashtags as applicable)
          %input{:type => 'text', :name => 'search_terms' }
      %div
        %label
          Description
        %textarea{:name => 'description', :value => @campaign.description}
      %div
        %label
          Cover Image Url
        %input{:type => 'text', :name => 'cover_image', :value => @campaign.cover_image }
      
      %div
        %label
          Theme
        %div
          %select{:name => 'theme_id'}
            - @themes.each do |theme|
              %option{:selected=>(theme.id==@campaign.theme_id) ? "selected" : nil, :value=>theme.id} 
                =theme.name
      %div
        %label
          Start Date (YYYY-MM-DD) <- year first
        %input{:type => 'text', :name => 'start_date' }
      %div
        %label
          End Date (YYYY-MM-DD) <- year first
        %input{:type => 'text', :name => 'end_date' }
      %div
        %input{:type => 'submit'}
